[Unit]
Description={{WEBHOOK_SERVICE}}
Wants=neo4j.service
After=network.target neo4j.service

[Service]
ExecStart={{WEBHOOK_INSTALL_PATH}}/neo4j-webhook.sh
Restart=on-failure
User={{WEBHOOK_USER}}
Group={{WEBHOOK_GROUP}}
Environment=NEO4J_WEBHOOK_CERT=
Environment=NEO4J_WEBHOOK_KEY=
LimitNOFILE=60000
TimeoutSec=120

[Install]
WantedBy=multi-user.target
